{% extends 'index.html' %}

{% block site_content %}

<style>
.empty{
    height: 220px;
    width: 100%;
    background: #35322d;
}

.registration-done-container{
    padding: 50px 0px;
    text-align: center;
}

.registration-done-title{
    padding: 0;
    margin: 30px;
}

.registration-done-body{
    font-size: 22px;
}
</style>
     <div class="empty"></div>
     <div class="registration-done-container">
         <h2 class="registration-done-title">Привіт {{ user.username }}!</h2>
         <p class="registration-done-body">Реєстрація пройшла успішно</p>
     </div>

{% endblock %}