{% extends 'index.html' %}

{% block site_content %}

<style>
.empty{
    height: 150px;
    width: 100%;
    background: #444444;
}

.messages-container{
    padding: 30px 0px;
}

.message-header{
    text-align: center;
    margin-bottom: 20px;
}

.message-container{
    border: thick double #444444;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.message-time{
    text-align: right;
    margin-right: 50px;
    margin-bottom: 10px;
    border-bottom: #444444 2px solid;
}

.message-button{
    text-align: right;
    margin-bottom: 10px;
    margin-right: 50px;
}

.message-message-title{
    padding: 0;
    margin: 0;
}

.message-message{
    border: #444444 1px solid;
    padding: 10px;
}
</style>
     <div class="empty"></div>
     <div class="container d-flex justify-content-center align-items-center messages-container">
         <div class="row">
            <div class="message-header">
                <h3>Нові повідомлення</h3>
            </div>
            {% for message in messages %}
                <div class="message-container">
                    <div class="message-time">
                        <p>Час звернення: {{ message.date|date:'Y-m-d H:i:s' }}</p>
                    </div>
                    <div class="col-lg">
                        <p>Тема: {{ message.subject_message }}</p>
                    </div>
                    <div class="row">
                        <div class="col-lg">
                            <p>Ім'я: {{ message.name }}</p>
                        </div>
                        <div class="col-lg">
                            <p>e-mail: {{ message.email }}</p>
                        </div>
                    </div>
                    <div>
                        <p class="message-message-title">Повідомлення:</p>
                        <p class="message-message">{{ message.message }}</p>
                    </div>
                    <div class="message-button">
                        <a href="{% url 'manager:update_messages' pk=message.pk %}"><button type="button" class="btn btn-secondary">Опрацювати</button></a>
                    </div>
                </div>
            {% endfor %}
        </div>

     </div>

{% endblock %}