<form id="book-a-table-form" method="post" role="form" class="php-email-form">
    {% csrf_token %}
    <input name="form-user-reservation" type="hidden">
    <div class="row">
        <div class="col-lg-4 col-md-6 form-group">
            {{ form_user_reservation.name }}
            <p>{{ form_user_reservation.errors.name.0 }}</p>
        </div>
        <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
            {{ form_user_reservation.email }}
            <p>{{ form_user_reservation.errors.email.0 }}</p>
        </div>
        <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
            {{ form_user_reservation.phone }}
            <p>{{ form_user_reservation.errors.phone.0 }}</p>
        </div>
        <div class="col-lg-4 col-md-6 form-group mt-3">
            {{ form_user_reservation.future_date_reserve }}
            <p>{{ form_user_reservation.errors.future_date_reserve.0 }}</p>
        </div>
        <div class="col-lg-4 col-md-6 form-group mt-3">
            {{ form_user_reservation.future_time_reserve }}
            <p>{{ form_user_reservation.errors.future_time_reserve.0 }}</p>
        </div>
        <div class="col-lg-4 col-md-6 form-group mt-3">
            {{ form_user_reservation.persons }}
            <p>{{ form_user_reservation.errors.persons.0 }}</p>
        </div>
    </div>
    <div class="form-group mt-3">
        {{ form_user_reservation.message }}
        <p>{{ form_user_reservation.errors.message.0 }}</p>
    </div>
    {% if sent_message %}
        <div id="sent-message-reservation" class="container-form-message">
            <div class="message">Дякуємо! Ваш запит на бронювання прийнято. Ми Вам передзвонимо або надішлемо електронний лист для підтвердження бронювання</div>
            <div id="#circle-progress" class="flex">
                <div class="m-progress-loader mm-progress-loader--scheduling">
                  <div class="m-progress-loader--fill"></div>
                  <div class="m-progress-loader--mask"></div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="text-center"><button type="submit" name="form-user-reservation">Відправити повідомлення</button></div>
</form>
