<form id="contact-form" method="post" role="form" class="php-email-form">
    {% csrf_token %}
    <input name="form-user-message" type="hidden">
    <div class="row">
        <div class="col-md-6 form-group">
            {{ form_user_message.name }}
            <p>{{ form_user_message.errors.name.0 }}</p>
        </div>
        <div class="col-md-6 form-group mt-3 mt-md-0">
            {{ form_user_message.email }}
            <p>{{ form_user_message.errors.email.0 }}</p>
        </div>
    </div>
    <div class="form-group mt-3">
        {{ form_user_message.subject_message }}
        <p>{{ form_user_message.errors.subject_message.0 }}</p>
    </div>
    <div class="form-group mt-3">
        {{ form_user_message.message }}
        <p>{{ form_user_message.errors.message.0 }}</p>
    </div>
    {% if sent_message %}
        <div id="sent-message-contact" class="container-form-message">
            <div class="message">Дякуємо! Ваше повідомлення відправлено</div>
            <div id="#circle-progress" class="flex">
                <div class="m-progress-loader mm-progress-loader--scheduling">
                  <div class="m-progress-loader--fill"></div>
                  <div class="m-progress-loader--mask"></div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="text-center"><button type="submit" name="form-user-message">Відправити повідомлення</button></div>
</form>
