<section id="gallery" class="gallery">
      <div class="container-fluid">

        <div class="section-title">
          <h2>Декілька фото з <span>Нашого Ресторану</span></h2>
        </div>

        <div class="row g-0">
          {% for photo in gallery %}
            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href={{ photo.photo.url }} class="gallery-lightbox">
                  <img src={{ photo.photo.url }} alt="" class="img-fluid">
                </a>
              </div>
            </div>
          {% endfor %}
        </div>

      </div>
    </section>
