{% extends 'index.html' %}

{% block site_content %}
    <!-- ======= Popup Section ======= -->
    {% if popup_reservation or popup_message or not_valid_form %}
        {%  include 'popup.html' %}
    {% endif %}
    <!-- ======= Hero Section ======= -->
    {%  include 'hero_section.html' %}

    <!-- ======= About Section ======= -->
    {% include 'about.html' %}

    <!-- ======= Whu Us Section ======= -->
    {% include 'why_us.html' %}

    <!-- ======= Menu Section ======= -->
    {% include 'menu.html' %}

    <!-- ======= Specials Section ======= -->
    {% include 'specials_section.html' %}

    <!-- ======= Events Section ======= -->
    {% include 'events_section.html' %}

    <!-- ======= Book A Table Section ======= -->
    {% include 'book_table_section.html' %}

    <!-- ======= Gallery Section ======= -->
    {% include 'gallery_section.html' %}

    <!-- ======= Chefs Section ======= -->
    {% include 'chefs_section.html' %}

    <!-- ======= Testimonials Section ======= -->
    {% include 'testimonials_section.html' %}

    <!-- ======= Contact Section ======= -->
   {% include 'contact_section.html' %}

{% endblock %}