{% load static %}

<!DOCTYPE html>
<html lang="en">
<style>
    div.bootstrap-datetimepicker-widget.dropdown-menu {
        width: 100px;
    }

    div.bootstrap-datetimepicker-widget.dropdown-menu table.table-condensed .separator {
        width: 10px;
    }

    div.bootstrap-datetimepicker-widget.dropdown-menu table.table-condensed tr:nth-child(2) td a.btn {
        height: 40px;
        padding: 0;
        margin: 0;
        border: none;
    }
    span.glyphicon {
        color: #A9A9A9;
    }

    span.glyphicon:hover {
           color: #696969;
    }

    div.bootstrap-datetimepicker-widget.dropdown-menu table.table-condensed>tr>td>span.timepicker-hour,
    div.bootstrap-datetimepicker-widget.dropdown-menu table.table-condensed>tr>td>span.timepicker-minute {
        font-size: 14px;
    }


</style>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Delicious Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href={% static "assets/img/favicon.png" %} rel="icon">
  <link href={% static "assets/img/apple-touch-icon.png" %} rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href={% static "assets/vendor/animate.css/animate.min.css" %}>
  <link rel="stylesheet" href={% static "assets/vendor/bootstrap/css/bootstrap.css" %}>
  <link rel="stylesheet" href={% static "assets/vendor/datetimepicker/bootstrap.min.css" %}>
  <link rel="stylesheet" href={% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %}>
  <link rel="stylesheet" href={% static "assets/vendor/boxicons/css/boxicons.min.css" %}>
  <link rel="stylesheet" href={% static "assets/vendor/glightbox/css/glightbox.min.css" %}>
  <link rel="stylesheet" href={% static "assets/vendor/swiper/swiper-bundle.min.css" %}>
  <link rel="stylesheet" href={% static "assets/vendor/daterangepicker/daterangepicker.css" %}/>
  <link rel="stylesheet" href={% static "assets/vendor/datetimepicker/bootstrap-datetimepicker.min.css" %}/>

    {#  <link rel="stylesheet" type="text/css" href={% static "assets/vendor/timepicker/jquery.timepicker.min.css" %}/>#}

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href={% static "assets/css/style.css" %}>

  <!-- =======================================================
  * Template Name: Delicious - v4.8.0
  * Template URL: https://bootstrapmade.com/delicious-free-restaurant-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  {% include 'top_bar.html' %}

  <!-- ======= Header ======= -->
  {% include 'header.html' %}

  <main id="main">
      {% block site_content %}
      {% endblock %}
  </main>

  <!-- ======= Footer ======= -->
  {% include 'footer.html' %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src={% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
  <script src={% static "assets/vendor/glightbox/js/glightbox.min.js" %}></script>
  <script src={% static "assets/vendor/isotope-layout/isotope.pkgd.min.js" %}></script>
  <script src={% static "assets/vendor/swiper/swiper-bundle.min.js" %}></script>
  <script src={% static "assets/vendor/daterangepicker/jquery.min.js" %}></script>
  <script src={% static "assets/vendor/daterangepicker/moment.min.js" %}></script>
  <script src={% static "assets/vendor/daterangepicker/daterangepicker.min.js" %}></script>
  <script src={% static "assets/vendor/datetimepicker/bootstrap-datetimepicker.min.js" %}></script>
{#  <script src={% static "assets/vendor/php-email-form/validate.js" %}></script>#}

  <!-- Template Main JS File -->
  <script src={% static "assets/js/main.js" %}></script>
  <script>
    $(function(){
        $('#date').daterangepicker({
            singleDatePicker: true,
            autoApply: true,
            locale: {
                format: 'YYYY-MM-DD',
                "applyLabel": "Застосувати",
                "cancelLabel": "Скасувати",
                "daysOfWeek": [
                    "Нд",
                    "Пн",
                    "Вт",
                    "Ср",
                    "Чт",
                    "Пт",
                    "Сб"
                ],
                "monthNames": [
                    "Січень",
                    "Лютий",
                    "Березень",
                    "Квітень",
                    "Травень",
                    "Червень",
                    "Липень",
                    "Серпень",
                    "Вересень",
                    "Жовтень",
                    "Листопад",
                    "Грудень"
                ],
            }
        });
        $('#date').val('');
        $('#time').datetimepicker({
          format: "HH:mm"
        });
    });
  </script>

</body>

</html>